body {
   background-color: white;
   background-size: 600px;
   }
  body {
   font-family: Arial;
   font-size: 30px;
   color: white;
 }
   .middle {
    width: 45%;
	margin: auto;
	background-image: url("sidedecal.jpg");
	   background-size: 600px;
 }
   section {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
 }
   section img {
   width: 85%;
 }
    div {
  text-align: center;
}
.sidenav a {
	position: absolute;
	left: -150px;
	transition: 0.3s;
	padding: 15px;
	width: 150px;
	text-decoration: none;
	font-size: 20px;
	color: white;
}
.sidenav a:hover {
	left: 0;
}
.home {
	top: 20px;
	background-color: green;
}

.shop {
	top: 80px;
	background-color: LightSeaGreen;
}
